#stars-readonly span.glyphicon{
	font-size: 18px;
	color: #DE752F;
	cursor: pointer;
}
#stars-existing span.glyphicon{
	font-size: 18px;
	color: #DE752F;
	cursor: pointer;
}
.stars-existing span.glyphicon{
	font-size: 18px;
	color: #DE752F;
	cursor: pointer;
}